.wy-table-responsive table td, .wy-table-responsive table th {
  white-space: normal !important;
  font-size: 90%;
}

.wy-nav-content {
  max-width: 1440px;
}

.wy-nav-side {
  background: #000000;
}

.wy-menu-vertical {
  background: #000000;
}

.wy-menu-vertical a {
  color: #2FB787;
  background: #000000;
}

.wy-menu-vertical li ul li a {
  color: #2FB787;
  background: #000000;
}

.wy-menu-vertical li.current a {
  color: #2FB787;
  background: #000000;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3>a {
  background: #000000;
}

.wy-menu-vertical li.toctree-l2.current>a {
  background: #000000;
}

.wy-menu-vertical li.toctree-l1.current>a {
  border-bottom: #000000;
  border-top: #000000;
}

